*{
    margin: 0;
    padding: 0;
}

.nav{
    width: 310px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
    transition: opacity .5s;
}
.nav:hover{
    opacity: 1;
}

.clr{
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    transition: transform .5s;
}

.clr:hover, .clr_input:hover{
    transform: scale(1.2);
}
.clr:nth-child(1){
    background-color: #000;
}
.clr:nth-child(2){
    background-color: #EF626C;
}
.clr:nth-child(3){
    background-color: #fdec03;
}
.clr:nth-child(4){
    background-color: #24d102;
}
.clr:nth-child(5){
    background-color: #fff;
}

button {
    border: none;
    outline: none;
    padding: .6em 1em;
    border-radius: 5px;
    background-color: #03bb56;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.save{
    background-color: #0f65d4;
}

.clr_input {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    transition: transform .5s;
    box-sizing: content-box;
    display: block;
}



input[type="color"] {
	-webkit-appearance: none;
    border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    border:none;
    border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch {
    padding: 0;
	border: none;
    border-radius: 50%;
}